services:
  db:
    image: postgres:16-alpine
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: ./backend/
    env_file: .env
    depends_on:
      - db

  frontend:
    build: ./frontend/
    env_file: .env

  gateway:
    build: ./gateway/
    ports:
      - "8000:80"
    depends_on:
      - backend
    volumes:
      - static:/staticfiles

volumes:
  pg_data:
  static:
